.card-map{
    margin-top: 100px;
    margin-bottom: 100px;
    box-shadow: 0px 0px 2px 2px rgb(0, 0, 0);

}

.map-wrapper{
    max-width: 700px;
    border: 1px solid black;
    box-shadow: 0px 0px 2px 2px gray;

    margin-top: 100px;
}
.googlemap {
    width: 100%;
}


.setLocationBtn{
    margin-left: 200px;
    width: 200px;
    
}

.LocationTxtbox{
margin-right: 100px;
width: 550px;
}

@media  (max-width: 320px){
    body{
        width: 800px;
        padding-right: 200px;
    }
    .map-container{
        width: 100%;
        max-width: 1000px;
        margin-right: 200px;
        margin-left: 100px;
        padding-left: 100px;
        padding-right: 200px;
        margin-bottom: 100px;
        
    }
}