.marketLogoShadow{
box-shadow: 0px 0px 2px 1px rgb(85, 85, 85);
margin-top: 200px;
}

.subNav{
    margin-top: 200px;
}



/* Textbox*/
.quantityTxtbox{
    width: 120px;
    height: 50px;
}



/* Media query*/
@media  (max-width: 320px){
    nav{
       
       width: 800px;
      
    }
    .shops-container{
       
        width: 800px;
    }

}


